body{
	font:16px sans-serif;
	margin:0;
	background-color: #ede7f6;
}
.header{
	width: 100%;
	height: 100px;
	background-color: purple;
}
.box{
	width: 370px;
	margin: 0 auto;
	border:solid 1px #eeeeee;
	padding:20px;
	background-color: #fff;

}
#pizza1,#pizza2{
	width:200px;
	height: 200px;
	display: block;
	margin: 0 auto;
}
p{
	font-size: 10px;
	color: red;
	margin: 0;
	padding: 0;
	

}
.infos>.formblock, p{
	width: 100%;
	padding: 5px 0;

}
#nom,#adress{
	border:none;
	display: block;
	margin: 15px 10px;
}

.infos>.formblock{
	margin-bottom: 3px;
	font-weight: lighter;
	padding-left: 5px;
}

.error{
	background-color: #ffebee;
}

.formblock>.error_message{
	background-color: #ffebee;
	width: 100%;
	padding: 5px 0;
}
h1,h2,h3,h4{
	font-weight: lighter;
}
#send{
	background-color: #2196f3;
	display: block;
	border-radius: 5%;
	border:none;
	padding: 5px;
	margin-top: 20px;
}
.birthday>{
	display: block;

}

.hidden{
	display:none;
}
.show{
	display:block;
}